{%extends "base.html"%}
{% load bootstrap3%}
{% block content %}
<div class="container">
  <div class="row">
      <div class="co-lg-2 col-md-2"></div>
      <div class="co-lg-8 col-md-8 mb-3">
          <legend class="text-center">How to use Award Gallery Api</legend>
          <div>
              <div>For better user experience and for developers who would like to use our AwwardMe data, we
                  developed and <span style="font-weight: bolder;">API</span> who help you out. To use our api we recommend
                  to use it on <a href="https://www.postman.com/downloads/">Postman</a> which is much easier to send the HTTP request 
                  i.e GET,POST,PUT,DELETE...
              </div><br>
              <div>
                Before you start using our api endpoints you need an <span style="font-weight: bolder;">Token Autheniticaton</span> only for registered users. On Postman 
                choose the POST http request method on the url place this url <span style="color: blueviolet;">www.moringaawards.heroku.com/api-auth-token/</span> on the body
                on the postman. Pass you USERNAME and PASSWORD as the key and value. On the request results at the bottom on postman
                if successful you will get your token.               
              </div><br>
              <div>
                After token received you can now access <span style="font-weight: bolder; color: blueviolet;">user</span> and <span style="font-weight: bolder; color: blueviolet;">project</span> data using the following 
                links <span style="color: blueviolet;">www.moringaawards.heroku.com/api/users/</span> and <span style="color: blueviolet;">www.moringaawards.heroku.com/api/project/</span> respectively.
              </div><br>
              <div style="font-style: italic;">
                  Thank You. <br>
                  Regards Ruth Jomo (developer)
              </div>
          </div>
      </div>
      <div class="co-lg-2 col-md-2"></div>
  </div>
</div>

{% endblock %}
