{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{%static 'css/register.css'%}"  >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block content %}
    {{block.super}}
    <!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
 <body>   



<hr>
<div class="row mt-3">
    <div class="col-lg-12 col-md-12" >
        <div class="row">
            {%for image in user.project_set.all%}
            <div class="col-lg-4 col-md-4 mb-2" style="padding-right: 10px;">
                <div class="card" style="margin-left: 0px;">
                    <a href="#"><img src="{{image.image.url}}" class="card-img-top img-responsive index_image" id="image" alt="IMAGE" title="" style="height:50vh; width: 100%;" ></a>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">{{image.title}}</h5>
                            <p>By <a href="{% url 'posted_by'%}">{{image.user.username}}</a><span class="float-right"> From {{image.location}}</span></p>
                            <a style="padding: 1.5px; margin-bottom: 1%;" href="{{image.link}}" class="btn btn-info"><i class="fas fa-info-circle"></i> VIEW</a>
                            <a style="padding: 1.5px; margin-bottom: 1%; margin-left: 25px;" href="{% url 'project'%}" class="btn btn-info"><i class="fa fa-star" aria-hidden="true"></i> RATE</a>
                          </div>
                    </div>  
                </div>               
            </div>
            {%endfor%}
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}