{% extends 'base.html'%}
{% load bootstrap3 %} 
{% load static %}
{% block content%}
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
        <div class="col-lg-8 col-md-8">
            <legend class="text-center border ">Display Project</legend>
            <form  action="{% url 'new_project'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form form%}
                <input type="submit" class="btn btn-success btn-block" value="Submit Project">
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>
</div>
{% endblock%}